*{
    padding: 0;
    margin: 0;
}
.container {
    border: 1px solid black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    /* padding: 0; */
}

.btn-container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
#clickMe, #generate{
    padding: 10px;
    color: white;
    background-color: rgb(96, 202, 96);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#clear {
    padding: 10px;
    color: white;
    background-color: rgb(216, 110, 110);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
#display {
    border: 1px solid black;
}

.image-box {
    border: 1px solid black;
    margin-top: 10%;
}